/*!
 * Tidal
 * Project: BPMW
 * Date: 11222013
 * 
 * Author: Eugene Tsurcan 
 * Front End Developer 
 * [http://twitter.com/eugenetsurcan]
 * 
 * STYLES RESPONSIVE (Tablets, mobiles) 
 *  
 */


// ---------------------------------------------------------------------------
// Imports

@import "compass"; 
@import "susy";
@import "mixins";
@import "variables";


/* ==========================================================================
   Larger devices / wide desktop (1140px and down)
   ========================================================================== */

/* between 975px - 1140px */
@include at-breakpoint(12 $screen-lg-min) {
  /* Container */
  .container { max-width: $container-md; }
  
  /* Buttons */
  .btn.btn-large { height: 36px; padding: 4px 10px!important; }
  
  /* Form (Input Large) */
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    &.in-large { height: 36px; padding: 8px 10px; }
  }
  
  /* Menu Main */
  .menu {
    a { padding: 0 10px; }
    .devider { padding: 0 5px; }
  }
  
  /* Outside Content (cancels the side distance of the page content) */
  .bg-round-bottom .outside-content { margin: {left: 0; right: 0;} }
  
  /* Background Round Bottom */
  .bg-round-bottom { margin: {left: 0; right: 0;} padding: {left: 0; right: 0;}
    &:before { height: 400px; }
  }
  
  /* Intro Unit */
  .intro-unit {
    &, &.intro-large {
      .left-info { margin-left: 0; @include span-columns(6); }
      .right-info { margin-right: 0; @include span-columns(6 omega); }
    }
    
    &.intro-large .bg-round-bottom { padding-bottom: 15px; }
  }
  
  /* Profile Unit */
  .profile-unit {
    > .bg-round-bottom { padding: {left: 0; right: 0;} }
    
    .left-col { margin-left: 0; @include span-columns(4); }
    .middle-col { margin-left: 0; @include span-columns(5); }
    .right-col { padding-top: 0; @include span-columns(3 omega); text-align: center; }
  }
  
  /* Pagination */
  .pagination.pagination-profile { margin-top: 185px; }
  
  /* Masthead */
  .masthead {
    .we-are-market, .left-col, .right-col { display: block; margin-left: 0; @include reset-columns; }
      
    .left-col { @include span-columns(6); }
    .right-col { @include span-columns(6 omega); }
    
    .we-are-market { clear: both; @include micro-clearfix; }
  }
  
  /* List Blog Posts */
  .list-blog-posts .item-post { @include isolate-grid(6); }
  
  /* List Links Brands */
  .list-links-brands > ul li { @include isolate-grid(3); }
}


/* ==========================================================================
   Medium devices / tablet (940px and down)
   ========================================================================== */

@include at-breakpoint(12 $screen-md-min) {
  /* Container */
  .container { max-width: $container-sm; }
  
  /* Content Page (With Sidebar) */
  .content-page {
    /* Middle Content */
    > .middle-content { @include isolate(4); width: columns(5); }
    
    /* Left Side */
    > .left-side { @include span-columns(3); }
    
    /* Right Side */
    > .right-side { @include span-columns(4 omega); }  
  }
  
  .right-side {
    > section.marg-top { margin-top: 0!important; }
  }
  
  /* Menu Main */
  .menu {
    a { padding: 0 15px; }
    
    .left-menu { clear: left; 
      > li:first-child a { padding-left: 0; }
    }
    
    .right-menu {
      .has-form { float: right; margin-top: -55px; }
      .soc-links { clear: both; }
    }
    
    .input-group {
      .btn { background: $baseColorText; color: $white; 
        &:hover { background: darken($baseColorText, 10%); }
      }
      .wrap-in input { border-color: $grey-lighten; 
        &:focus { border-color: $grey-lighten; }
      }
    }
    
    .devider { display: none; }
  }
  
  /* Background Round Bottom */
  .bg-round-bottom:before { height: 300px; }
  
  /* Pagination */
  .pagination {
    &.pagination-profile { margin-top: 137px; }
    &.pagination-brands { margin-top: -115px; }
  }
}


/* ==========================================================================
   Small devices / phone (768px and down)
   ========================================================================== */
@include at-breakpoint(12 $screen-sm-min) {
  h1, .h1 { font-size: 26px; }
  h2, .h2 { font-size: 20px; }
  h3, .h3 { font-size: 18px; }
  h4, .h4 { font-size: 16px; }
  h5, .h5 { font-size: 15px; }
  h6, .h6 { font-size: 14px; }
  
  .h1-serif { font-size: 26px; }
  
  .page-heading { margin-left: 0; }
  
  .lead { font-size: 18px; }
  
  blockquote { font-size: 16px; text-align: center; }
  
  /* Button Dropdown */
  .btn.btn-dropdown { background: $baseColorText; color: $white; }
  
  /* Content Page (With Sidebar) */
  .content-page { min-height: 300px; padding-bottom: 25px!important;
    /* Middle Content */
    > .middle-content { @include isolate(1); @include span-columns(7); margin-bottom: 40px; }
    
    /* Left Side */
    > .left-side { clear: both; display: block; @include reset-columns; }
    
    /* Right Side */
    > .right-side { @include span-columns(5 omega); margin-bottom: 40px; } 
  }
  
  /* Root */
  .root { background: lighten($grey-lighten, 8%); }
  
  /* Off-canvas Header */
  .off-canvas-header { display: block; }
  
  /* Dropdown menu */
  .dropdown-menu { font-size: 12px;
    a { padding: 10px; }
    .active a:before, a.active:before { top: 11px; }
  }
  
  /* Header */
  .header { @include box-shadow(#{none}); float: left; margin-left: -100%; padding: 0; @include transition(#{width .3s, margin .3s}); z-index: 1;
    h1 { display: none; }
    
    .menu { margin: 15px 0 0;
      > ul { margin: 0 0 20px; }
      
      li { border-bottom: 1px solid $grey-lighten; margin: 0 -15px 0 -7px; }
      li + li { border-top: 1px solid $white; }
      
      > ul, li { display: block; float: none; }
      
      a { padding: 0 15px 0 7px; 
        &:hover { background: $white; text-decoration: none; }
      }
      
      .devider { display: none; }
      
      li ul { background: none transparent; @include box-shadow(#{none}); margin: 0; padding: 0; position: static; text-align: left; width: auto; }
      
      li li { border: 0 none; margin: 0 0 0 15px;
        + li { border-top: 1px solid $grey-lighten; }
        a { padding: 10px 7px; }
      }
      
      .has-dropdown {
        > a:after { float: right; margin-top: 9px; }
        
        &:hover { 
          > ul { display: none; }
          > a:after { @include rotate(0deg); } 
        }
        &.opened { 
          > ul { display: block; }
          > a { border-bottom: 1px solid $grey-lighten;
            &:after { @include rotate(180deg); }
          } 
        }
      }
      
      .left-menu > li:first-child a { padding-left: 7px; }
      
      .right-menu .has-form { border-top: 0 none; float: none; margin-top: 0; max-width: none;
        form { margin: 45px 15px 15px 0; max-width: 250px; }
      }
      
      .soc-links { 
        ul a { background: none transparent; padding: 0 7px; }
        li { border: 0 none; margin: 0; }
        + li { padding-left: 0; 
          a { padding: 0 15px 0 7px; }
        }
      } 
    }
    
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
    input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
      &:focus { background: $white; }
    }
  }
  
  .no-boxshadow .header { border-bottom: 0 none; 
    .menu li ul { border: 0 none; }
  }

  /* Wrapper Content */
  .wrapper-content { background: $white; @include box-shadow(#{0 0 25px rgba($black, .3)}); float: left; margin-left: 0; @include transition(#{width .3s, margin .3s}); width: 100%; }
    
  /* Active Menu (Off-canvas) */
  .active-menu {
    .header { margin-left: 0; width: 80%; }
    .wrapper-content { margin-right: -100%; }
    .footer { border-top-color: $grey-lighten; }
  }
  
  .no-boxshadow .active-menu .wrapper-content { border-left: 1px solid $grey-light; }
  
  /* Slideshow Flipper */
  .slideshow-flipper {
    img { max-height: 285px; }
    figcaption time { font: {size: 12px; weight: normal;} }
    
    &.with-description {
      .prev-slide, .next-slide { margin-top: -28px - 30px; }
    }
  }
  
  .slideshow-flipper { max-height: 285px; }
  
  /* Background Round Bottom */
  .bg-round-bottom:before { height: 150px; }
  
  /* Intro Unit */
  .intro-unit {
    &, &.intro-large {
      .left-info, .right-info { @include reset-columns; }
    }
  }
  
  /* Profile Unit */
  .profile-unit {    
    .left-col { margin-bottom: 30px; @include span-columns(5); }
    .middle-col { @include span-columns(7 omega); }
    .right-col { clear: both; display: block; @include reset-columns; margin-left: columns(5) + gutter(12); text-align: left; @include micro-clearfix; 
      .btn-add { float: left; }
      .badge-wrapper { clear: left; float: left; margin-right: 20px;
        + .badge-wrapper { clear: none; }
      }
    }
  }
  
  /* Masthead */
  .masthead { margin-bottom: 0;
    .left-col, .right-col { clear: both; display: block; @include reset-columns; @include micro-clearfix; }
      
    .left-col { text-align: center; }
    .right-col { margin: {bottom: 10px; top: 40px;} }
  }
  
  /* Filtering Row */
  .filtering-row {
    h4, .cur-page { line-height: 36px; }
    h4 { clear: both; display: block; }
    .cur-page { font-size: 12px; }
  }    
  
  /* Pagination */
  .pagination { clear: both; margin: {bottom: 20px; top: 10px!important;} position: static; @include micro-clearfix; 
    ul { @include inline-list; }
    li + li { margin-left: 10px; }
  }
  
  /* List Links Brands */
  .list-links-brands > ul li { @include isolate-grid(4); }
  
  .item-brand h6 { font-size: 12px; }
  
  /* Modals */
  .modal .modal-dialog { margin: $grid-padding; width: auto!important; }
  
  /* Reset Sticky Footer */
  html, body { height: auto; }
  
  .root { height: auto!important; margin-bottom: 0; min-height: 0; }
  .root .root-footer { height: auto; }
  
  /* Footer */
  .footer { border-top: 1px solid transparent; height: auto; margin-top: -1px; text-align: center; @include transition(#{border-color .3s}); 
    .copy, .site-by { float: none; }
  }
  
  /* Teaser Footer */
  .teaser { text-align: center;
    .media > .pull-left { float: none; margin: {bottom: 0; right: 0;} }
  }
  
  /* Responsive utilities */
  .hidden-small { display: none!important; }
  .visible-small { display: block!important; }
}

/* Small devices / phone (640px and down) */
@include at-breakpoint(16 640px) {
  /* Middle Content and Right Side */
  .content-page {
    > .middle-content, > .right-side { display: block; @include reset-columns; }
  }
  
  .right-side .list-featured-posts .item-post { @include isolate-grid(4, 8); }
  
  /* List Brands */
  .list-brands .item-brand { @include isolate-grid(4, 8); }
  
  /* List Blog Posts */
  .list-blog-posts .item-post { @include isolate-grid(4, 8); }
  
  /* List Links Brands */
  .list-links-brands > ul li { @include isolate-grid(4, 8); }
}


/* ==========================================================================
   Extra Small devices / phone (480px and down)
   ========================================================================== */
@include at-breakpoint(16 $screen-xs-min) {
  /* Right Side */
  .right-side .list-featured-posts .item-post { @include isolate-grid(1, 1); }
  
  /* Slideshow Flipper */
  .slideshow-flipper { background-color: $black;
    .swiper-slide-active { @include box-shadow(#{none}); }
    
    img { margin: {left: auto; right: auto;} max-height: 180px; }
    
    figcaption { background-color: $black; color: $white; position: static; text-align: center; 
      a { color: $white; }
      h3 { font: {size: 14px; weight: bold;} }
    }
  }
  
  /* List Blog Posts */
  .list-blog-posts .item-post { display: block; margin-left: 0!important; @include reset-columns; }
  
  /* Buttons */
  .btn, .btn-group { display: block; margin: {left: 0!important; right: 0!important;} } 
  
  .btn.btn-link { @include inline-block; margin: {bottom: 0; top: -10px;} }
  
  .btn.btn-dropdown { padding-right: 30px; text-align: left;  
    .fa { height: 20px; left: auto; line-height: 20px; margin-top: -10px; position: absolute; right: 10px; top: 50%; }
  }
  
  .btn-group .dropdown-menu { position: static; width: auto; }
  
  /* Filtering Row */
  .filtering-row {
    .cur-page { clear: both; display: block; float: none; margin-left: 0; }
    .left-filters { float: none; }
  } 
  
  /* Profile Unit */
  .profile-unit { 
    .left-col { @include reset-columns; }
    .middle-col { margin-left: 0; @include reset-columns; }
    .right-col { margin-left: 0; }
    
    blockquote { max-width: none; }
  }
  
  /* Pagination */
  .pagination li { @include span-columns(4, 8); 
    + li { @include omega; }
    .btn { padding: {left: 25px; right: 25px;} }
    .next-page .fa { position: absolute; right: 10px; top: 11px; }
    .prev-page .fa { position: absolute; left: 10px; top: 11px; }
  }
  
  /* Modals */
  .modal {
    .modal-content { padding: {left: 35px; right: 35px;}; }
    .close { right: 5px; top: 7px; }
  } 
  
  /* Captcha Unit */
  .captcha-unit {
    .media {
      p { margin-bottom: 5px; }
      .pull-left { float: none; }
      .media-body { margin-bottom: 15px; padding-top: 0; }
    }    
  }
  
  /* Footer */
  .footer {
    .devider { background: $grey-lighten; display: block; height: 1px; margin: 15px auto; max-width: 60%; @include hide-text; }
  }
}


